<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613008178824-0uc0l0os5mo0utm74111lki2e7ccg91j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613008178824-0uc0l0os5mo0utm74111lki2e7ccg91j</string>
	<key>API_KEY</key>
	<string>AIzaSyAcfqVDDwZu3GM5vovr_G3bJUPecX-Xawo</string>
	<key>GCM_SENDER_ID</key>
	<string>613008178824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lamia.Messenger-Application</string>
	<key>PROJECT_ID</key>
	<string>messengerapplication-271ef</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapplication-271ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613008178824:ios:c1bcb49ba8dddda6b1693d</string>
	<key>DATABASE_URL</key>
	<string>https://messengerapplication-271ef-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>